.modal-container {
  height: 35rem;
}

.modal-body {
  height: 27rem;
  overflow-y: hidden;
  padding: 0rem 0.2rem;
}

.modal-footer {
  display: block;
  width: 100%;
  padding: 0 !important;
}

@media (max-width: 760px) {
  .modal-title {
    font-size: 0.9rem;
  }
  .modal-footer > * {
    margin: 0 !important;
  }

  .close {
    position: relative;
    top: -1.2rem;
  }
}
