<ng-template #modal>
  <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title">Koru Data List</h4>
      <div class="text-center">
        <search-data
          (filteredOutput)="handleFilteredData($event)"
        ></search-data>
      </div>
      <button
        type="button"
        class="btn btn-outline-info close"
        aria-label="Close"
        (click)="dismiss()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <koru-table></koru-table>
    </div>
    <div class="modal-footer">
      <koru-pagination
        [pageNo]="pageNumber"
        [totalDataCount]="totalCount"
        [dataPerPage]="dataPerPage"
        (changePage)="onPageChange($event)"
      ></koru-pagination>
    </div>
  </div>
</ng-template>
