.modal-container {
  height: 35rem;
}

.modal-body {
  height: 27rem;
  overflow-y: scroll;
  padding: 0.2rem;
}

.modal-footer {
  display: block;
  width: 100%;
  padding: 0 !important;
}

@media (max-width: 760px) {
  .modal-footer > * {
    margin: 0 !important;
  }
}
