<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" (click)="sort('idSort')">
          Id
          <span
            class="upArrow"
            *ngIf="tableSortOrder.idSort.type === 'ascending'"
            ><i class="fa-solid fa-arrow-up"></i
          ></span>
          <span
            class="downArrow"
            *ngIf="tableSortOrder.idSort.type === 'descending'"
            ><i class="fa-solid fa-arrow-down"></i>
          </span>
        </th>
        <th scope="col" (click)="sort('nameSort')">
          Name
          <span
            class="upArrow"
            *ngIf="tableSortOrder.nameSort.type === 'ascending'"
            ><i class="fa-solid fa-arrow-up"></i
          ></span>
          <span
            class="downArrow"
            *ngIf="tableSortOrder.nameSort.type === 'descending'"
            ><i class="fa-solid fa-arrow-down"></i>
          </span>
        </th>
        <th scope="col" (click)="sort('mobSort')">
          Mobile
          <span
            class="upArrow"
            *ngIf="tableSortOrder.mobSort.type === 'ascending'"
            ><i class="fa-solid fa-arrow-up"></i
          ></span>
          <span
            class="downArrow"
            *ngIf="tableSortOrder.mobSort.type === 'descending'"
            ><i class="fa-solid fa-arrow-down"></i>
          </span>
        </th>
        <th scope="col" (click)="sort('designationSort')">
          Designation
          <span
            class="upArrow"
            *ngIf="tableSortOrder.designationSort.type === 'ascending'"
            ><i class="fa-solid fa-arrow-up"></i
          ></span>
          <span
            class="downArrow"
            *ngIf="tableSortOrder.designationSort.type === 'descending'"
            ><i class="fa-solid fa-arrow-down"></i>
          </span>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="allData && allData.length; else noDataFound">
        <tr *ngFor="let data of allData">
          <td scope="row">{{ data.id }}</td>
          <td scope="row">{{ data.name }}</td>
          <td scope="row">{{ data.mob }}</td>
          <td scope="row">{{ data.designation }}</td>
          <td scope="row">
            <button
              class="btn btn-outline-danger"
              (click)="deleteRow(data.mob)"
              [disabled]="allData.length === 1"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>*</td>
          <td>
            <input
              type="text"
              [(ngModel)]="newRowData.name"
              placeholder="Enter Name"
            />
          </td>
          <td>
            <input
              type="text"
              [(ngModel)]="newRowData.mob"
              placeholder="Enter Valid 10 digit Mob Number"
              numbersOnly
            />
          </td>
          <td>
            <input
              type="text"
              [(ngModel)]="newRowData.designation"
              placeholder="Enter Designation"
            />
          </td>
          <td>
            <button
              [ngClass]="{ 'btn-outline-success': !isAllFieldsNotMapped() }"
              class="btn"
              (click)="addNewRow()"
              [disabled]="isAllFieldsNotMapped()"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noDataFound>
        <td [attr.colspan]="5">
          <h6 class="text-center text-danger">
            No matching data found for view
          </h6>
        </td>
      </ng-template>
    </tbody>
  </table>
</div>
