<div class="container-fluid">
  <div class="row logo_area">
    <div class="col-12">
      <span class="logo">
        <img
          src="https://workablehr.s3.amazonaws.com/uploads/account/logo/198752/koru-logo-for-gapps-01.png"
          alt=""
        />
      </span>
    </div>
  </div>
  <div class="row view_data_btn">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#koruModal"
      >
        Launch demo modal
      </button>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="koruModal"
  tabindex="-1"
  aria-labelledby="koruModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="koruModalLabel">Alerts</h5>
        <button type="button" class="btn btn-white"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation" style="margin-left: 15rem">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              Immunization Alerts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              Lab Alerts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              DI Alerts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              Procedure Alerts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              RX Specific Alerts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              DX Specific Alerts
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              Patient Specific Alerts
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row mt-3 fit_size">
              <div class="col-md-7 border-right" style="height: 25rem">
                <h6 class="text-primary">Immunization Alerts</h6>
                <div class="action_btns d-flex justify-content-between">
                  <div>
                    Find
                    <input
                      type="text"
                      [ngModel]="searchText"
                      (ngModelChange)="Search($event)"
                    />
                  </div>
                  <div>
                    <button class="btn btn-secondary" (click)="handleDelete()">
                      Delete
                    </button>
                  </div>
                </div>
                <div class="table_data mt-2">
                  <table class="table table-bordered scrolldown">
                    <thead>
                      <tr>
                        <th scope="col">
                          <input
                            type="checkbox"
                            (change)="handleAllCheckboxes($event)"
                          />
                        </th>
                        <th scope="col" (click)="sort('nameSort')">
                          Name
                          <span
                            class="upArrow"
                            *ngIf="tableSortOrder.nameSort.type === 'ascending'"
                            ><i class="fa-solid fa-arrow-up"></i
                          ></span>
                          <span
                            class="downArrow"
                            *ngIf="
                              tableSortOrder.nameSort.type === 'descending'
                            "
                            ><i class="fa-solid fa-arrow-down"></i>
                          </span>
                        </th>
                        <th scope="col" (click)="sort('descriptionSort')">
                          Description
                          <span
                            class="upArrow"
                            *ngIf="
                              tableSortOrder.descriptionSort.type ===
                              'ascending'
                            "
                            ><i class="fa-solid fa-arrow-up"></i
                          ></span>
                          <span
                            class="downArrow"
                            *ngIf="
                              tableSortOrder.descriptionSort.type ===
                              'descending'
                            "
                            ><i class="fa-solid fa-arrow-down"></i>
                          </span>
                        </th>
                        <th scope="col" (click)="sort('webReferenceSort')">
                          WebReference
                          <span
                            class="upArrow"
                            *ngIf="
                              tableSortOrder.webReferenceSort.type ===
                              'ascending'
                            "
                            ><i class="fa-solid fa-arrow-up"></i
                          ></span>
                          <span
                            class="downArrow"
                            *ngIf="
                              tableSortOrder.webReferenceSort.type ===
                              'descending'
                            "
                            ><i class="fa-solid fa-arrow-down"></i>
                          </span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngIf="allData && allData.length; else noDataFound"
                      >
                        <tr *ngFor="let item of allData; index as i">
                          <td>
                            <input
                              type="checkbox"
                              id="{{ item.id }}"
                              #inps
                              (change)="handleSingleCheckbox($event, item.id)"
                            />
                          </td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>
                          <td>{{ item.webReference }}</td>
                        </tr>
                      </ng-container>
                      <ng-template #noDataFound>
                        <h6 class="text-center text-danger mt-3">
                          No data found
                        </h6>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div class="col-md-1">
                <div class="verticalBar"></div>
              </div> -->
              <div class="col-md-4">
                <div class="addFields_container mt-3">
                  <div class="d-flex justify-content-between addFields">
                    <div style="width: 5rem">
                      <p>Name</p>
                    </div>
                    <div>
                      <input type="text" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between addFields">
                    <div>
                      <p>Description</p>
                    </div>
                    <div>
                      <input type="text" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between addFields">
                    <div style="width: 5rem">
                      <p>WebReference</p>
                    </div>
                    <div>
                      <input type="text" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            ...
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row" style="width: 100%">
          <div class="col-7">
            <p>Total Results: {{ allData.length }}</p>
          </div>
          <div class="col-5" style="text-align: right">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              style="margin-right: 1.5rem"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-primary ml-2">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
