<div class="container-fluid">
  <div class="row logo_area">
    <div class="col-12">
      <span class="logo">
        <img
          src="https://workablehr.s3.amazonaws.com/uploads/account/logo/198752/koru-logo-for-gapps-01.png"
          alt=""
        />
      </span>
    </div>
  </div>
  <div class="row view_data_btn">
    <div class="col-12">
      <button class="btn btn-lg btn-outline-primary mt-5" (click)="openModal()">
        view Data
      </button>
    </div>
  </div>
</div>
<container-modal #modal> </container-modal>
